.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.content {
  max-width: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circular-button {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: green;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fact-content {
  font-family: "Mochiy Pop P One", sans-serif;
  text-align: center;
}
